:root {
  --primary-color: #272142;
  --secondary-color: #ffffff;
  --branding-color: #662eed;
  --font-family: "Nunito", sans-serif;
}

body {
  font-family: var(--font-family);
  max-width: 1440px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 72px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
  text-align: left;
}

p {
  font-size: 18px;
  line-height: 30px;
}

.hero {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  padding-bottom: 46px;
}

.hero h1 {
  color: var(--primary-color);
  padding-top: 47px;
  line-height: 98px;
}

.hero-home {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(media/overlay.png);
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  padding-bottom: 46px;
}

.hero-home h1 {
  color: var(--secondary-color);
  padding-top: 47px;
  line-height: 98px;
}

.hero-home h2 {
  color: var(--secondary-color);
  line-height: 35px;
  text-align: center;
}

.preview-images a {
  text-decoration: none;
}

.preview {
  width: 560px;
  height: 350px;
  border-radius: 12px;
  margin: 20px 0px;
}

.footer {
  background-color: #f9f7fe;
  height: 100px;
  margin-bottom: 0;
  padding: 40px 140px;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    text-align: center;
  }
  .footer {
    margin-bottom: 0;
  }
}

.nav-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

nav {
  padding: 20px 0;
  font-family: var(--font-family);
  font-weight: bold;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.profile-picture {
  max-width: 460px;
}

.profile-description {
  max-width: 460px;
}

.profile-description h1 {
  text-align: left;
}

.social-links a {
  margin: 4px 10px 4px 25px;
  color: var(--primary-color);
}

.contact-method {
  margin-bottom: 50px;
}

.contact-method-title {
  text-transform: uppercase;
  color: var(--branding-color);
  font-weight: 700;
  margin-bottom: 20px;
}

.email-link {
  text-decoration: none;
  color: var(--primary-color);
}

.email-link:hover {
  color: var(--branding-color);
}

.recipe-image {
  max-width: 760px;
  margin: 0 auto;
  display: block;
}

.recipe {
  margin-left: 267px;
  margin-right: 413px;
}

.recipe-table {
  border-bottom: 1px dotted #67d5d2;
  margin-bottom: 38px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.ingredients div {
  border-bottom: 1px dotted #67d5d2;
  max-width: 360px;
  padding: 10px 0;
}

.method {
  display: flex;
  flex-direction: column;
}

.recipe-step {
  color: #f65282;
  font-weight: 800;
}
